# Projekt TSP (Travel Salesman Problem)
### Autorzy: Aleksander Folfas, Zosia Jaworksa, Maciej Komosa, Kajetan Łodej, Natalia Łyś

In [1]:
# Import bibliotek
import pandas as pd
import numpy as np
import random

In [4]:
# Wczytanie plików z danymi
TSP_29 = pd.read_excel('Dane_TSP_29.xlsx', header=None)
TSP_48 = pd.read_excel('Dane_TSP_48.xlsx', header=None)
TSP_76 = pd.read_excel('Dane_TSP_76.xlsx', header=None)
TSP_127 = pd.read_excel('Dane_TSP_127.xlsx', header=None)

In [5]:
TSP_29.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,0,107,241,190,124,80,316,76,152,157,...,150,65,341,184,67,221,169,108,45,167
1,107,0,148,137,88,127,336,183,134,95,...,67,42,278,271,146,251,105,191,139,79
2,241,148,0,374,171,259,509,317,217,232,...,204,182,435,417,292,424,116,337,273,77
3,190,137,374,0,202,234,222,192,248,42,...,70,137,151,239,135,137,242,165,228,205
4,124,88,171,202,0,61,392,202,46,160,...,155,65,366,300,175,307,57,220,121,97

# Metody doboru sąsiedztwa

In [ ]:
# Swap dwóch pozycji
def Swap(route, pos1, pos2): 
    route[pos1], route[pos2] = route[pos2], route[pos1]
    return route

# Insercja elementu na pozycję
def Insert(route, pos, elem):
    route.insert(pos, elem)
    return route
    
# Odwrócenie kolejności elementów pomiędzy pozycjami
def Reverse(route, pos1, pos2):
    route[pos1:pos2+1] = reversed(route[pos1:pos2+1])
    return route

# Funkcje trasy

In [ ]:
# Funkcja obliczania długości trasy
def route_length(route, distance_matrix):
    route_length = 0
    for i in range(len(route)):
        route_length += distance_matrix[route[i-1]][route[i]]
    return route_length

In [ ]:
# Stworzenie funkcji ustalenia początkowej trasy
def create_initial_route(distance_matrix):
    route = list(range(len(distance_matrix)))
    random.shuffle(route)
    return route