# Rozwiązanie problemu komiwojażera za pomocą algorytmu NN (nearest neighbour)
### Kajetan Łodej

In [32]:
import numpy as np
import pandas as pd

Implementacja algorytmu NN.

In [33]:
def NN(dataMatrix, start, route=None):
    if route is None:
        route = []
        route.append(start)
        return NN(dataMatrix, start, route)
    else:
        if len(route) < len(dataMatrix):
            notVisitedCities = [i for i in range(len(dataMatrix)) if i not in route]
            lastCity = route[-1]
            distances = []
            for i in notVisitedCities:
                distances.append(dataMatrix[lastCity][i])
            nearestCity = notVisitedCities[np.argmin(distances)]
            route.append(nearestCity)
            return NN(dataMatrix, start, route)
        else:
            return route

Implementacja poszukiwania najkrótszej trasy (iteracja po wszystkich punktach początkowych).

In [34]:
def NNAll(dataMatrix):
    bestRoute = []
    bestDistance = 0
    for i in range(len(dataMatrix)):
        route = NN(dataMatrix, i)
        distance = 0
        for j in range(len(route) - 1):
            distance += dataMatrix[route[j]][route[j + 1]]
        distance += dataMatrix[route[-1]][route[0]]
        if bestDistance == 0 or distance < bestDistance:
            bestDistance = distance
            bestRoute = route
    return bestRoute, bestDistance

Importowanie danych TSP_48.

In [35]:
dataMatrix = pd.read_excel('Dane_TSP_48.xlsx',header=None)
dataMatrix.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0,1495,381,2012,1157,990,764,178,147,1788,...,1117,261,692,1525,1104,616,2162,488,753,1184
1,1495,0,1135,637,583,2207,2056,1641,1590,736,...,976,1443,872,504,2223,1957,1098,1727,1388,661
2,381,1135,0,1633,778,1163,971,551,457,1412,...,785,325,442,1144,1231,850,1790,640,591,810
3,2012,637,1633,0,886,2550,2444,2175,2081,444,...,1161,1901,1467,532,2526,2373,594,2138,1695,900
4,1157,583,778,886,0,1686,1565,1329,1210,636,...,396,1021,768,370,1680,1489,1025,1253,839,97

Wypisanie najlepszego rozwiązania dla zestawu danych TSP_48.

In [36]:
route, distance = NNAll(dataMatrix)
print("Najlepsza trasa: ", route)
print("Długość trasy: ", distance)

Najlepsza trasa:  [9, 23, 41, 4, 47, 38, 31, 20, 46, 10, 22, 13, 24, 12, 11, 14, 32, 45, 43, 17, 6, 27, 35, 29, 5, 36, 18, 26, 42, 16, 19, 39, 8, 0, 7, 37, 30, 21, 15, 2, 33, 40, 28, 1, 25, 3, 34, 44]
Długość trasy:  12012

Importowanie danych TSP_76.

In [37]:
dataMatrix76 = pd.read_excel('Dane_TSP_76.xlsx',header=None)
dataMatrix76[np.isnan(dataMatrix76)] = 0
dataMatrix76.head()

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,0.000000,1118.033989,3621.118612,3891.336531,5205.849883,4884.327282,4650.000000,4975.188439,6247.599539,6408.002809,...,13237.824595,12550.000000,11321.660656,16269.296236,17936.833611,18830.825792,18985.520799,10467.568963,3605.551275,3716.180835
1,1118.033989,0.000000,2926.174978,3360.431520,4555.532131,4049.154603,3684.087404,3950.000000,5392.819300,5640.257086,...,13700.000000,13088.258096,11921.828719,16886.088949,17993.887851,18784.301957,18923.530326,9360.555539,3640.054945,3828.837944
2,3621.118612,2926.174978,0.000000,700.000000,1629.439474,1367.754729,1627.882060,2193.171220,2700.000000,2789.265136,...,12345.545755,11958.469802,11011.925354,15890.641900,15686.698187,16304.370580,16419.881242,7864.636037,6470.896383,6689.730936
3,3891.336531,3360.431520,700.000000,0.000000,1368.894810,1628.051903,2163.330765,2745.906044,2789.265136,2700.000000,...,11660.295880,11290.039858,10366.894424,15227.031884,15014.076728,15658.304506,15778.545560,8285.076946,6975.851203,7179.310552
4,5205.849883,4555.532131,1629.439474,1368.894810,0.000000,1115.000448,2013.820498,2512.304321,1624.460834,1362.964783,...,11820.476852,11584.583419,10799.271874,15528.704808,14484.663372,14980.790133,15079.531591,7431.411239,8079.756989,8305.075135

Wypisanie najlepszego rozwiązania dla zestawu danych TSP_76.

In [38]:
route, distance = NNAll(dataMatrix76)
print("Najlepsza trasa: ", route)
print("Długość trasy: ", distance)

Najlepsza trasa:  [15, 14, 12, 13, 11, 10, 16, 17, 36, 35, 34, 33, 39, 40, 59, 58, 57, 56, 62, 63, 61, 60, 54, 55, 50, 65, 64, 49, 48, 51, 52, 53, 41, 42, 27, 28, 29, 30, 18, 19, 4, 5, 6, 7, 8, 9, 3, 2, 1, 0, 22, 21, 20, 24, 23, 45, 44, 43, 47, 46, 68, 67, 66, 69, 70, 71, 72, 38, 37, 31, 32, 26, 25, 74, 75, 73]
Długość trasy:  130921.00457667322

Importowanie danych TSP_127.

In [39]:
dataMatrix127 = pd.read_excel('Dane_TSP_127.xlsx',header=None)
dataMatrix127.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,126
0,0.000000,656.195093,1556.303312,1352.780840,1660.867243,991.104434,418.243948,1874.037353,1396.824971,1233.096914,...,3642.473885,8622.319873,820.243866,1556.303312,3640.626320,4721.926725,2345.954816,5096.084772,5911.449230,6612.000000
1,656.195093,0.000000,1870.443798,1995.739462,1165.785572,1611.523503,844.492747,2490.625624,1944.514335,1357.745190,...,2993.609193,9277.824745,1050.424676,956.560505,3856.018672,4571.342035,1859.621467,5179.890346,6492.892114,6165.484571
2,1556.303312,1870.443798,0.000000,1411.200907,1972.000000,1142.467505,1142.467505,1434.840758,812.000000,624.679118,...,4217.680879,8190.125762,820.243866,2200.945251,5020.267722,6277.947435,2380.121005,3612.799469,6384.216788,8034.203881
3,1352.780840,1995.739462,1411.200907,0.000000,2767.031623,418.243948,1233.096914,580.000000,624.679118,1660.867243,...,4924.196584,7300.631206,1401.633333,2793.649942,3876.899792,5544.994139,3371.990510,4858.170849,5009.534909,7803.101947
4,1660.867243,1165.785572,1972.000000,2767.031623,0.000000,2348.820981,1556.303312,3121.240779,2460.731599,1352.780840,...,2252.312589,10019.069817,1396.824971,418.243948,4989.348655,5413.609517,696.000000,4524.000000,7569.388879,6471.095116

Wypisanie najlepszego rozwiązania dla zestawu danych TSP_127.

In [40]:
route, distance = NNAll(dataMatrix127)
print("Najlepsza trasa: ", route)
print("Długość trasy: ", distance)

Najlepsza trasa:  [116, 83, 80, 125, 81, 82, 74, 75, 77, 79, 78, 76, 17, 20, 16, 21, 3, 22, 23, 5, 105, 14, 107, 19, 18, 71, 7, 8, 10, 113, 104, 6, 0, 15, 1, 50, 56, 53, 44, 102, 43, 34, 35, 36, 40, 13, 11, 30, 26, 29, 42, 33, 38, 37, 25, 24, 32, 121, 27, 28, 31, 41, 39, 120, 4, 55, 123, 51, 49, 12, 114, 9, 119, 2, 89, 115, 59, 61, 60, 90, 57, 63, 99, 112, 65, 54, 46, 48, 52, 117, 47, 45, 93, 111, 110, 106, 126, 92, 94, 122, 96, 97, 100, 101, 62, 118, 95, 108, 86, 85, 84, 87, 109, 70, 69, 68, 67, 72, 73, 66, 58, 124, 88, 91, 98, 64, 103]
Długość trasy:  133970.64577239772